services:
  # HiveMQ MQTT Broker Service
  hivemq:
    # Use the official HiveMQ Community Edition image
    image: hivemq/hivemq-ce:latest
    container_name: hivemq
    ports:
      # Standard port for MQTT clients
      - "1883:1883"
      # Port for the HiveMQ Control Center (web interface)
      - "8081:8080"
    volumes:
      - ./hivemq/log:/opt/hivemq/log
  # Python Application Service

  python-app:
    build: .
    container_name: python-loopback-app
    depends_on:
      - hivemq
    environment:
      - MQTT_BROKER_HOST=hivemq
