version: '3.8'

services:
  # HiveMQ MQTT Broker Service
  hivemq:
    # Use the official HiveMQ Community Edition image
    image: hivemq/hivemq-ce:latest
    container_name: hivemq-broker
    ports:
      # Standard port for MQTT clients
      - "1883:1883"
      # Port for the HiveMQ Control Center (web interface)
      - "8080:8080"
    volumes:
      - ./hivemq/data:/opt/hivemq/data
      - ./hivemq/log:/opt/hivemq/log
      - ./hivemq/conf:/opt/hivemq/conf